@import "tailwindcss";

@theme {
  --color-primary: #ffcc00;
  --color-secondary: #19191c;
  --color-text-secondary: gray;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}